line-length = 120
target-version = "py314"

[lint]
allowed-confusables = ["，", "′"]
dummy-variable-rgx = "^_$"
future-annotations = true
preview = true
select = ["ALL"]
ignore = [# https://docs.astral.sh/ruff/rules/
    "ERA001", # eradicate: commented-out-code
    "COM812", # flake8-commas: missing-trailing-comma
    "CPY", "FIX", "TD", # flake8-copyright, flake8-fixme, flake8-todos
    "D102", "D103", "D100", "D104", "D203", "D213", # pydocstyle
    "PLR0913", "PLR2004" # Refactor: too-many-arguments, magic-value-comparison
]
unfixable = [
    "T20", # flake8-print
    "F841" # Pyflakes: unused-variable
]

[lint.isort]
split-on-trailing-comma = false

[format]
line-ending = "lf"
preview = true
quote-style = "preserve"
skip-magic-trailing-comma = true
